// Fonts
@import url('./fonts/fonts.css');


// Variables
:root {
  --color-accent: #B9FF66;
  --color-bg: #F3F3F3;
  --color-dark: #191A23;
  --color-black: #000000;
  --font-family: "Space Grotesk", sans-serif;
}
// Breakpoints
$small : 480px;
$med : 768px;
$large : 1280px;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // transition: all 0.2s ease-in-out;
}


// Text Style
#app{
  h1, .h1{
    font-family: var(--font-family);
    font-size: 60px;
    line-height: auto;
    font-weight: 500;
  }
  h2, .h2{
    font-family: var(--font-family);
    font-size: 40px;
    line-height: auto;
    font-weight: 500;
  }
  h3, .h3{
    font-family: var(--font-family);
    font-size: 30px;
    line-height: auto;
    font-weight: 500;
  }
  h4, .h4{
    font-family: var(--font-family);
    font-size: 20px;
    line-height: auto;
    font-weight: 500;
  }
  p, a, label, input, textarea{
    font-family: var(--font-family);
    font-size: 18px;
    line-height: auto;
    font-weight: 400;
  }
  @media screen and (max-width: $med) {
    h1{
      font-family: var(--font-family);
      font-size: 43px; // Adjust as needed for mobile
      line-height: auto;
      font-weight: 500;
    }
    h2{
      font-family: var(--font-family);
      font-size: 36px; // Adjust as needed for mobile
      line-height: auto;
      font-weight: 500;
    }
    h3{
      font-family: var(--font-family);
      font-size: 26px; // Adjust as needed for mobile
      line-height: auto;
      font-weight: 500;
    }
    h4{
      font-family: var(--font-family);
      font-size: 18px; // Adjust as needed for mobile
      line-height: auto;
      font-weight: 500;
    }
    p, a, label, input, textarea{
      font-family: var(--font-family);
      font-size: 16px; // Adjust as needed for mobile
      line-height: auto;
      font-weight: 400;
      line-height: 24px;
    }

  }
}


// General

body{
  display: flex;
  place-items: center;
  background-color: #FFF;
  #app {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 10vw;
    overflow: hidden;

    gap: 150px;
    @media screen and (max-width: $large) {
      padding: 0px;
      &>*{
        padding: 0px 5vw;
        gap: 30px !important;
      }
    }
    .no-padding{
      padding: 0px !important;
    }
    img{
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }
  a{
    cursor: pointer;
    &:active{
      transform: scale(0.95);
    }
    &:hover{
        text-decoration: underline;
        text-underline-offset: 3px;
        text-decoration-thickness: 2px;
    }
  }
}


@keyframes from-top {
    from {opacity: 0;transform: translateY(-50px);}
    to {opacity: 1;transform: translateY(0);}
}
.from-top{
    animation: from-top 0.5s ease-in-out forwards;
}

@keyframes from-bottom {
    from {opacity: 0;transform: translateY(50px);}
    to {opacity: 1;transform: translateY(0);}
}
.from-bottom{
    animation: from-bottom 0.5s ease-in-out forwards;
}

@keyframes from-left {
    from {opacity: 0;transform: translateX(-200px);}
    to {opacity: 1;transform: translateX(0);}
}
.from-left{
    animation: from-left 0.5s ease-in-out forwards;
}

@keyframes from-right {
    from {opacity: 0;transform: translateX(200px);}
    to {opacity: 1;transform: translateX(0);}
}
.from-right{
    animation: from-right 0.5s ease-in-out forwards;
}

@keyframes from-center {
    from {opacity: 0;transform: scale(0.5);}
    to {opacity: 1;transform: scale(1);}
}
.from-center{
    animation: from-center 0.5s ease-in-out forwards;
}

.anim-from-left, .anim-from-right, .anim-from-top, .anim-from-bottom, .anim-from-center{
  transition: all 0.5s ease-in-out;
}
.to-bottom{
  animation: to-bottom 0.5s ease-in-out forwards;
}

.to-left{
  animation: to-left 0.5s ease-in-out forwards;
}
.to-right{
  animation: to-right 0.5s ease-in-out forwards;
}
.to-top{
  animation: to-top 0.5s ease-in-out forwards;
}
.to-center{
  animation: to-center 0.5s ease-in-out forwards;
}


@keyframes to-left {
  from {opacity: 1;transform: translateX(0px);}
  to {opacity: 0;transform: translateX(-200px);}
}
@keyframes to-right {
  from {opacity: 1;transform: translateX(0px);}
  to {opacity: 0;transform: translateX(200px);}  
}
@keyframes to-top {
  from {opacity: 1;transform: translateY(0px);}
  to {opacity: 0;transform: translateY(-50px);}
}
@keyframes to-bottom {
  from {opacity: 1;transform: translateY(0px);}
  to {opacity: 0;transform: translateY(50px);}
}
@keyframes to-center {
  from {opacity: 1;transform: scale(1);}
  to {opacity: 0;transform: scale(0.5);}
}